@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
	font-family: 'Merriweather', serif; 
	font-weight: lighter;
	border: 52px #F8F8F8 solid; 
	margin: 0px; 
	padding: 20px 20px 20px 20px;
}
a {text-decoration: none; color: inherit; border-bottom: 1px dotted;}
a:hover, .book-box.available a:hover, .book-box a:hover {color: #55b6ff; border-color: #55b6ff;}
small {font-weight: 700; font-size: 11px; letter-spacing: .08em;}
h1 {
	font-size: 68px; 
	color: #222;
	font-weight: 900;
	letter-spacing: -1px; 
	margin: 30px 0px 20px 0px;
}
h2 {
	font-size: 22px;
	margin-bottom: 0;
}
h4, h5 {
	margin: 4px 0px; 
}
h5 {
	font-weight: lighter; 
	color: #539dfc; 
	text-transform: uppercase;
}
p {
	font-family: 'Merriweather', serif;
	margin-top: 0;
	line-height: 28px;
}
hr {    
	background: #222 none repeat scroll 0 0;
    border: 0 none;
    height: 3px;
    margin: 19px 0 22px;
    width: 175px;
}
p.title {
	font-weight: 900;
	font-size: 22px;
	font-family: 'Lato', sans-serif;
}
.container {max-width: 1100px; margin: 0px auto; overflow: auto; padding: 20px 20px;}
*:focus {outline: 0;}

.span1 {max-width: 100%; display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box; padding-right: 18px; vertical-align: top; text-align: center;}
.span1:last-child {padding-right: 0px;}

#info a img {border: 0; text-decoration: none;}

ul.nav {list-style: none; margin: 0px; padding: 0px; color: #539dfc;}
ul.nav li {display: inline; font-size: 12px; letter-spacing: .1em; text-transform: uppercase; padding-right: 4px;}
ul.nav a {color: #539dfc; border-bottom: 1px dotted #539dfc;}
ul.nav a:hover {color: #55b6ff; border-color: #55b6ff;}

#info, header {padding-right: 10px; padding-left: 10px;}
#info a {color: #55b6ff; border-color: #55b6ff;}
#info a:hover {color: #55b6ff; border-color: #55b6ff;}
#info a {color: #333; border-color: #333;}
#info p {font-weight: lighter; font-size: 12px; line-height: 1.5em;}
#info.container {
	max-width: 800px;
}

input:not([type=submit]):not([type=file]):not([type=checkbox]) {
	margin: 10px 10px 30px 0px; 
	border: none;
	border-bottom: 3px solid #539dfc; 
	background-color: transparent; 
	padding: 0px;
	font-family: Source Sans Pro; 
	color: #888888; 
	font-size: 1em; 
	height: 35px;
	width:250px;
}

.sml-button {
	cursor: pointer;
	padding: 8px 20px; 
	background-color: #539dfc; 
	font-weight: 700; 
	font-size: 1em;
	letter-spacing: .1em; 
	text-align: center; 
	color: #fff; 
	font-family: "Lato",sans-serif;
	margin-right: 10px;
}
.sml-button:hover {opacity: .75;}
.button-pressed {background: #55b6ff;}

/* #539dfc blue
   #539dfc; green */

#books {
	-webkit-column-count:4; 
	-webkit-column-gap : 30px; 
	-webkit-column-width: 250px; 
	-moz-column-count:4;
	-moz-column-gap : 30px; 
	-moz-column-width: 250px;
}

.book-box { background: #E0E0DF; color: #5A5A5A; padding: 12px; margin-bottom: 16px; box-sizing: border-box;
   -mox-box-sizing:border-box; -webkit-column-break-inside:avoid; -moz-column-break-inside:avoid;
   display: table; width: 100%;}
.book-box a {border-color: #9B9A9A;}
.book-box.available {background: #f8f8f8; color: #000;}
.book-box.available a {border-color: #fff;}
.book-box:nth-child(1) {margin-top: 0;}
.book-title { 
	display: block; 
	font-size: 16px; 
	padding: 10px 0; 
	text-align: left; 
	width: 100%;
	cursor: pointer; 
	font-weight: 600;
}
.book-author {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}

.book-box:hover {opacity: .75;}
.book-box ul {list-style: none; margin: 20px 0px 0px 0px; padding: 0px;}
.book-box li {margin: 10px 0px;}

.buy {
	font-family: "Lato",sans-serif;	
	display: block; 
	box-sizing: border-box; 
	-mox-box-sizing: border-box; 
	position: relative;
	background: #2F933C; 
	color: #ffffff; 
	padding: 8px 4px; 
	letter-spacing: .08em; 
	font-weight: 900;
	text-align: center; 
	width: 100%; 
	margin: 12px 0px; 
	cursor: pointer; 
	border: 1px solid transparent;
}
.buy:hover {
	background: #78AE62;
}
.book-box-borrow:hover { border: 1px solid #55b6ff; color: #fff; background-color: #55b6ff;}

.download {display: block; box-sizing: border-box; -moz-box-sizing: border-box; position: relative;
  background-color: #B6B6B6; color: #E0E0DF; padding: 4px 0px; letter-spacing: .08em; font-weight: 900;
  text-align: center; width: 100%; margin: 12px 0px; border: 1px solid #B6B6B6;}

.book-box-bottom {display: none; width: 100%;}

.book-cover {
	padding: 10px 0 0;
}
.book-cover:hover {
	pointer;
}
.book-cover img {
	width:100%;
	/*box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.4);*/
}

.book-box {
  background: #f8f8f8;
  color: #222;
  border-top: 3px solid #d4cdd4;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 12px;
  margin-bottom: 30px;
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  display: table;
  width: 100%;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition-delay: 0;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0; 
}	
.book-box:hover {
  border-top: 3px solid #539dfc;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;  
 }
  
.selected-book {opacity: .75;}

a.imglink {border: none;}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license
*/

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 1024px) {
	#books {-webkit-column-count:1;}
  .span1 {max-width: 100%;}
}
